<section class="sec2">
        <div class="cont1">
            <div class="item">
                <h3>Farmacia San Andrés</h3>
                <h2>Contáctanos</h2>
                <h3><img src="Imagenes/direccion.png" class="icon">  Dirección</h3>
                <h4>Av. General Proaño y Av. Oriente</h4>
                <h3><img src="Imagenes/correo electronico.png" class="icon">  Correo Electrónico</h3>
                <h4>FrmSanAndres@outlook.com</h4>
                <h3><img src="Imagenes/telefono.png" class="icon">  Teléfono</h3>
                <h4>+593 987654321</h4>
            </div>
            <div class="item4">
                <img src="Imagenes/img5.jpg">
            </div>
        </div>
    </section>