<header>
        <div class="cont">
            <h1>Farmacia San Andrés</h1>
            <h2>Estamos aquí para que se sienta mejor</h2>
            <button>Explorar</button>
          </div>
    </header>