<section>
        <div class="cont1">
            <div class="item">
                <img src="Imagenes/img1.jpg">
            </div>
            <div class="item">
                <h3>Farmacia San Andrés</h3>
                <h2>¿Quiénes somos?</h2>
                <p>Somos una farmacia independiente que maneja su operación de forma ética, inclusiva, transparente, solidaria y brinda soluciones para mejorar la calidad de la salud y bienestar de las personas.</p>
                <button>Más información</button>
            </div>
        </div>
    </section>