<section class="sec">
        <div class="item2">
            <h2>Nuestros Servicios</h2>
            <p class="exp">Contamos con distintos servicios para ofrecer a la comunidad</p>
        </div>
        <section class="conte d-flex flex-wrap">
            {{getProduct}}
            {{!-- <div><p class="up" align="center">Medicinas</p><img class="img1" src="Imagenes/Medicinas.jpg"><p class="up2">Ofrecemos todo tipo de medicamento que<br>se encuentra en el mercado</p></div>
            <div><p class="up" align="center">Recargas telefónicas</p><img class="img1" src="Imagenes/Recargas.jpg"><p class="up2">Ofrecemos recargas telefónicas para cualquiera<br>de las diferentes operadoras del Ecuador</p></div>
            <div><p class="up" align="center">Pago de servicios básicos</p><img class="img1" src="Imagenes/Servicios básicos.png"><p class="up2">Puedes realizar cualquier tipo de pago referente<br>a los servicios básicos</p></div> --}}
        </section>
        <div class="item2">
            <button>VER MAS</button>
        </div>
    </section>