<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    <div id="container">
        {{>header}}
        {{>informacion}}
        {{>productos}}
        {{>date}}
        {{>footer}}
    </div>
</body>
</html>